.row
  .col-md-6.col-md-offset-3
    %h2.page-header Log In
    - if @current_user
      %p= "You are currently logged in as #{@current_user.name}"
      %div= link_to "Log out", logout_path, class: "btn btn-warning"
    - else
      %div= link_to "Log in with Twitter", twitter_auth_path, class: "btn btn-info"
      %div= link_to "Log in with Facebook", facebook_auth_path, class: "btn btn-primary"