.panel
  .panel-heading
    .pull-right= link_to "×", '', id: "closeLink", class: "close"
    .panel-title= movie.title
  .panel-body
    %div
      %strong Rating
      = movie.rating
    %div
      %strong Release date
      = release_date movie
    %div
      %strong Average potatoes
      %span{class: review_class(average)}= average
    %div
      %strong Description
      = movie.description