.span12
  %h2 All Movies

  %table.table
    %thead
      %tr
        %th #
        %th Movie Title
        %th Rating
        %th Release Date
        %th More Info
        %th Edit Movie
        %th Delete
    %tbody
      - @movies.each_with_index do |movie, i|
        %tr
          %td= i+1
          %td= movie.title
          %td= movie.rating
          %td= release_date movie
          %td= link_to "More about #{movie.title}", movie_path(movie)
          %td= link_to "Edit #{movie.title}", edit_movie_path(movie)
          %td= link_to "Delete", movie_path(movie), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-mini"

  = link_to "Add new movie", new_movie_path, class: "btn"

  %h2 Search TMDb for a movie

  = form_tag({ action: :search_tmdb }, { class: "form-inline" }) do
    %label{ for: "search_terms" } Search Terms
    = text_field_tag "search_terms"
    = submit_tag "Search TMDb", class: "btn"