.row
  .col-xs-12
    %h2 All Movies
    %table.table.table-hover#movies
      %thead
        %tr
          %th Movie Title
          %th Rating
          %th Release Date
      %tbody
        - cache(cache_key_for_movies_table(params[:page])) do
          = render @movies
.row.pad-bottom
  .col-xs-12
    = will_paginate @movies
.row
  .col-md-8.col-lg-6
    .well.well-lg
      %p
        Want to review a movie but can't find it? Search TMDb for a movie to add.
      = form_tag({ action: :search_tmdb }, { role: "form" }) do
        .form-group
          %label{ for: "search_terms" } Search Terms
          = text_field_tag "search_terms", nil, class: "form-control"
        = submit_tag "Search TMDb", class: "btn btn-info"
      .well-divider
        %p Can't find the movie you're looking for in TMDb? Add one yourself.
        %div= link_to "Add new movie", new_movie_path, class: "btn btn-primary"