.row
  .col-md-12.pad-bottom
    %h2.page-header All Movies
    %table.table.table-hover#movies
      %thead
        %tr
          %th Movie Title
          %th Rating
          %th Release Date
      %tbody
        - cache(cache_key_for_movies_table) do
          = render @movies
    = link_to "Add new movie", new_movie_path, class: "btn btn-primary"
.row
  .col-sm-6.well
    %h4 Search TMDb for a movie
    = form_tag({ action: :search_tmdb }, { role: "form" }) do
      .form-group
        %label{ for: "search_terms" } Search Terms
        = text_field_tag "search_terms", nil, class: "form-control"
      = submit_tag "Search TMDb", class: "btn btn-info"