.col-lg-12
  = link_to image_tag(@movie.small_image, class: "movie-image"), @movie.large_image, class: "pull-right"
  .movie-info
    .movie-title= @movie.title
    %div
      %strong Rating
      = @movie.rating
    %div
      %strong Release date
      = release_date @movie
    %div
      %strong Average potatoes
      %span{class: review_class(@average)}= @average
    %div
      %strong Description
      = @movie.description

.col-lg-6.col-sm-6
  %table.table.table-hover
    %h4 Reviews
    - if @movie.reviews.empty?
      %p This movie has not yet been reviewed.
    - else
      %tbody
        = render @movie.reviews

.col-lg-12.col-sm-12
  - if @current_user
    -if @current_user_review
      = link_to "Edit your review", edit_movie_review_path(@movie, @current_user_review), class: "btn btn-primary"
    - else
      = link_to "Add your review", new_movie_review_path(@movie), class: "btn btn-primary"
    = link_to "Edit movie info", edit_movie_path(@movie), class: "btn btn-info"
    - if @current_user.admin
      = link_to "Delete this movie", movie_path(@movie), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger'
  = link_to "Back to movie list", movies_path, class: "btn btn-default"
