.col-lg-12
  %h2.page-header Details about #{@movie.title}

  %ul.list-unstyled
    %li
      Rating:
      = @movie.rating
    %li
      Released on:
      = release_date @movie

  %h3 Description
  %p= @movie.description

- if @movie.reviews.any?
  .col-lg-6.col-sm-6
    %h2 Reviews
    %p.lead.review-average
      Average potatoes:
      %span{class: review_class(@potato_average)}= @potato_average
    = render 'movie_reviews'


.col-lg-12.col-sm-12
  - if @review
    = link_to "Edit your review", edit_movie_review_path(@movie, @review), class: "btn btn-primary"
  - elsif @current_user
    = link_to "Add your review", new_movie_review_path(@movie), class: "btn btn-primary"
  = link_to "Edit movie info", edit_movie_path(@movie), class: "btn btn-info"
  = link_to "Delete this movie", movie_path(@movie), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger'
  = link_to "Back to movie list", movies_path, class: "btn btn-default"
