.span12
  %h2 Details about #{@movie.title}
  
  %ul.unstyled
    %li
      Rating:
      = @movie.rating
    %li
      Released on:
      = release_date @movie

  %h3 Description
  %p= @movie.description
  = link_to "Edit info", edit_movie_path(@movie)
  = button_to "Delete", movie_path(@movie), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn'
  = link_to "Back to movie list", movies_path
