.col-lg-12
  %h2.page-header Details about #{@movie.title}

  %dl
    %dt Rating
    %dd= @movie.rating
    %dt Released Date
    %dd= release_date @movie
    %dt Description
    %dd= @movie.description
    - if @movie.reviews.any?
      %dt Average potatoes
      %dd{class: review_class(@average)}= @average

.col-lg-6.col-sm-6
  = render 'movie_reviews'

.col-lg-12.col-sm-12
  - if @current_user
    -if @current_user_review
      = link_to "Edit your review", edit_movie_review_path(@movie, @current_user_review), class: "btn btn-primary"
    - else
      = link_to "Add your review", new_movie_review_path(@movie), class: "btn btn-primary"
  = link_to "Edit movie info", edit_movie_path(@movie), class: "btn btn-info"
  = link_to "Delete this movie", movie_path(@movie), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger'
  = link_to "Back to movie list", movies_path, class: "btn btn-default"
