.col-lg-12
  %h2.page-header Details about #{@movie.title}

  %ul.list-unstyled
    %li
      Rating:
      = @movie.rating
    %li
      Released on:
      = release_date @movie

  %h3 Description
  %p= @movie.description

.col-lg-6.col-sm-6
  - if @movie.reviews.any?
    %h3 Reviews
    %table.table.table-hover
      %tbody
        - @movie.reviews.each do |review|
          %tr
            %td= review.moviegoer.name
            %td= review.potatoes

.col-lg-12.col-sm-12
  - if @current_user
    = link_to "Add a review", new_movie_review_path(@movie), class: "btn btn-primary"
  = link_to "Edit info", edit_movie_path(@movie), class: "btn btn-info"
  = link_to "Delete this movie", movie_path(@movie), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger'
  = link_to "Back to movie list", movies_path, class: "btn btn-default"
