- reviews = movie.reviews.paginate(page: params[:page]).includes(:moviegoer)
= will_paginate reviews
- reviews.each do |review|
  - cache(review) do
    .media
      .pull-left
        = image_tag(review.moviegoer.profile_pic, class: "media-object", width: 48, height: 48)
      .media-body
        %h4.media-heading= review.moviegoer.name
        = review.comments
        %em= "#{pluralize(review.potatoes, "potato", "potatoes")}."
= will_paginate reviews