- reviews = movie.reviews.paginate(page: params[:page]).order("updated_at DESC").includes(:moviegoer)
= will_paginate reviews
- reviews.each do |review|
  - cache(review) do
    .media
      .pull-left
        = image_tag(review.moviegoer.profile_pic, class: "media-object", width: 48, height: 48)
      .media-body
        %h4.media-heading
          = review.moviegoer.name
          %span{class: review_class(review.potatoes)}= "#{pluralize(review.potatoes, "potato", "potatoes")}"
        = review.comments
= will_paginate reviews