.col-lg-6.col-offset-3
  %h2.page-header Edit review for #{@movie.title}

  = form_tag movie_review_path(@movie, @review), method: :put do 
    = render "review_form"
    = submit_tag 'Update Review', class: "btn btn-primary"
    = link_to "Cancel", @movie, class: "btn btn-default"
