.col-lg-6.col-offset-3
  %h2.page-header Edit review for #{@movie.title}

  = form_tag movie_review_path(@movie, @review), method: :put do
    = render "review_form"
    = submit_tag 'Update review', class: "btn btn-primary"
    = link_to "Cancel", @movie, class: "btn btn-default"
    = link_to "Delete review", movie_review_path(@movie, @review), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger'
