.col-md-6.col-md-offset-3
  %h3 New review for #{@movie.title}

  = form_tag movie_reviews_path(@movie), method: :post do
    = render "review_form", review: @review
    = submit_tag 'Create Review', class: "btn btn-primary"
    = link_to "Cancel", @movie, class: "btn btn-default"
