%nav{role: "navigation", class: "navbar navbar-static-top navbar-inverse"}
  .container
    .navbar-header
      = render 'layouts/navbar_btn'
      = link_to "Rotten Potatoes", movies_path, class: "navbar-brand"
    .navbar-collapse.collapse.navbar-ex1-collapse
      %ul.nav.navbar-nav.pull-right
        - if current_user
          %li
            %p.navbar-text= "Logged in as #{current_user.name}"
          %li= link_to "Log out", logout_path
        - else
          %li= link_to "Log in", login_path
