!!! 5
%html
  %head
    %title Rotten Potatoes
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  %body
    = render 'layouts/header'
    .container
      - flash.each do |type, msg|
        .alert{ class: "alert-#{type}" }
          %button.close{ href: "#", data: { dismiss: "alert"} } &times;
          = msg
      = yield